*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
body{
    background:linear-gradient(45deg, #FFccAA, #CCCCFF) no-repeat fixed;
}

.game{
    width: 700px;
    height: 200px;
    border: 5px solid whitesmoke;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    background-color: #fff;
}
#character{
    width: 20px;
    height: 50px;
    background-color: red;
    position: relative;
    top: 150px;
    left: 20px;
}
.animate{
    animation: jump 0.5s linear;
}
@keyframes jump {
    0%{top: 150px;}
    30%{top: 80px;}
    50%{top: 80px;}
    100%{top: 150px;}
}

#block {
    background-color: blue;
    width: 20px;
    height: 20px;
    position: relative;
    top:130px;
    left: 660px;
    animation: block 3s infinite linear;
}
@keyframes block{
    0%{left: 660px}
    100%{left: -20px}
}
p {
    text-align: center;
    margin-top: 10px;
}
h1{
    text-align: center;
    margin-top: 10px;
}