*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: bisque;
}
.emoji{
    font-size: 10rem;
    cursor: pointer;
    user-select: none;
}
.closed{
    display: none;
}
.active{
    display: block;
}