:root{
    --orange:#E8491D;
    --dark:#35424A;
    --white:#FFFFFF;
    --gray:#E0DADA;
}

body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #E4E4E4;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul{
    margin: 0;
    padding: 0;
}

header{
    background-color: var(--dark);
    color:var(--white);
    min-height: 70px;
    padding-top: 20px;
    border-bottom: var(--orange) 3px solid;
}
a{
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
    text-transform: uppercase;
}
header nav{
    float: right;
    margin-top: 10px;
}
header li{
    float: left;
    display: inline;
    padding: 0 20px;
}
#brand{
    float: left;
}
header #brand h1{
    margin: 0;
}
.current{
    color: var(--orange);
    font-weight: bold;
}
#brand span{
    color: var(--orange);
}
header a:hover{
    color: var(--gray);
    font-weight: bold;
}

#showcase{
    background: url("img/assets/bg.jpg") no-repeat 0 0;
    min-height: 400px;
    background-size: cover;
    text-align: center;
    color: var(--white);
}
#showcase h1{
    padding: 20px;
    font-size: 50px;
}
#showcase p{
    font-size: 20px;
    margin-top: 100px;
}